<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="ce-gallery msi-blockwrap msi-blockwrap-{imagesBlock.position.horizontal}{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-images="{imagesBlock.count.files}">
	<f:if condition="{imagesBlock.position.horizontal} == 'center'">
		<f:then>
			<div class="ce-outer">
				<div class="ce-inner msi-{imagesBlock.profile -> f:format.case(mode:'lower')}">
					<f:render partial="Images/MagStyleImages/{imagesBlock.profile}" arguments="{imagesBlock: imagesBlock, data:data, settings:settings}"/>
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="msi-{imagesBlock.profile -> f:format.case(mode:'lower')}">
				<f:render partial="Images/MagStyleImages/{imagesBlock.profile}" arguments="{imagesBlock: imagesBlock, data:data, settings:settings}"/>
			</div>
		</f:else>
	</f:if>
</div>
</html>
