<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="msi-3a" style="clear:both;">
	<div class="msi-left" style="float:left;">
		<f:render partial="Images/MagStyleImages/Image" arguments="{image:images.0, data:data}"/>
	</div>
	<div class="msi-left" style="float:left;">
		<f:render partial="Images/MagStyleImages/Image" arguments="{image:images.2, data:data}"/>
	</div>
	<div class="msi-left" style="float:left;">
		<f:render partial="Images/MagStyleImages/Image" arguments="{image:images.1, data:data}"/>
	</div>
</div>
</html>
