<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="Images/MagStyleImages/3b" arguments="{data:data, settings:settings, images: {0: '{imagesBlock.images.0}', 1: '{imagesBlock.images.1}', 2: '{imagesBlock.images.4}'}}"/>
<div style="clear: both"></div>
<f:render partial="Images/MagStyleImages/3c" arguments="{data:data, settings:settings, images: {0: '{imagesBlock.images.2}', 1: '{imagesBlock.images.3}', 2: '{imagesBlock.images.5}'}}"/>
</html>