<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="Images/MagStyleImages/3a" arguments="{data:data, settings:settings, images: {0: '{imagesBlock.images.4}', 1: '{imagesBlock.images.5}', 2: '{imagesBlock.images.6}'}}"/>
<f:render partial="Images/MagStyleImages/2a" arguments="{data:data, settings:settings, images: {0: '{imagesBlock.images.0}', 1: '{imagesBlock.images.1}'}}"/>
<f:render partial="Images/MagStyleImages/3a" arguments="{data:data, settings:settings, images: {0: '{imagesBlock.images.2}', 1: '{imagesBlock.images.3}', 2: '{imagesBlock.images.7}'}}"/>
</html>